@page
@model Medisysnae.Pages.Turnos.CreateModel
@{
    ViewData["Title"] = "Create";
}

<head>
    <style>
        .control-label {
            font-size: 18px;
        }
    </style>
</head>

<h1>Crear turno</h1>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Seleccionar día</label>
                <input type="date" asp-for="TurnoActual.FechaTurno" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Hora comienzo</label>
                <input type="time" asp-for="TurnoActual.HoraComienzo" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Hora fin</label>
                <input type="time" asp-for="TurnoActual.HoraFin" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Paciente</label>
                <select asp-for="TurnoActual.Paciente.ID" class="form-control" asp-items="@Model.PacientesList">
                    <option value="">Seleccionar</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Lugar de atención</label>
                <input type="text" asp-for="TurnoActual.LugarAtencion" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Acción</label>
                <select asp-for="TurnoActual.EstadoString" class="form-control" asp-items="@Model.EstadosList">
                    <option value="">Otorgar</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Comentario</label>
                <input type="text" asp-for="TurnoActual.Comentario" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-danger" asp-page="./Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>