@page
@model MenuModel

@{
    ViewData["Title"] = "Home";
}
<head>
</head>
<h3>Bienvenido a Medisysnae</h3>





<!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/atenciones.jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Atenciones</h4>
            <!--Text-->
            <p class="card-text">Registrar y ver atenciones de sus pacientes con sus evoluciones</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a asp-page="/Atenciones/Index" style="color:white;" class="btn btn-primary" >Ir a mis atenciones</a>


        </div>

    </div>
    <!-- Card -->


    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/turnos.jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Turnos</h4>
            <!--Text-->
            <p class="card-text">Gestionar sus horarios de atención. Ver sus turnos</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a asp-page="/Profesionales/Index" style="color:white;" class="btn btn-primary">Ir a mis turnos</a>
            
</div>

    </div>
    <!-- Card -->


    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/pacientes.jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Pacientes</h4>
            <!--Text-->
            <p class="card-text">Administrar datos personales de sus pacientes. Configurar alertas para los mismos</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a asp-page="/Pacientes/Index" style="color:white;" class="btn btn-primary">Ir a mis pacientes</a>

        </div>

    </div>
    <!-- Card -->

</div>
<!-- Card deck -->


<!-- Card deck -->
<div class="card-deck">


    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/reportes.jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Reportes</h4>
            <!--Text-->
            <p class="card-text">Ver reportes de sus pacientes, ausentismo, turnos en el mes.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a asp-page="/Profesionales/Index" style="color:white;" class="btn btn-primary">Ir a mis reportes</a>

        </div>

    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/perfil.jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Perfil</h4>
            <!--Text-->
            <p class="card-text">Administrar su perfil. Datos personales y especialidad.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a asp-page="/Profesionales/Index" style="color:white;" class="btn btn-primary">Ir a mi perfil</a>

        </div>

    </div>
    <!-- Card -->
    <!-- Card con style="visibility:hidden" podemos ocultar una card-->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/usuarios.png" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Usuarios</h4>
            <!--Text-->
            <p class="card-text">Administirar usuarios. Dar de alta o baja a profesionales y administradores</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a asp-page="/Profesionales/Index" style="color:white;" class="btn btn-primary">Ir a usuarios</a>

        </div>

    </div>
    <!-- Card -->

</div>
<!-- Card deck -->