@page
@model Medisysnae.Pages.Profesionales.CreateModel

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Medisysnae</title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
    <environment include="Development">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    <style>


        .nav li a {
            color: #FFF;
        }
    </style>
</head>

<div style="padding-left:5%">
    <br />
    <h1>Crear usuario</h1>

    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Nombre de usuario*</label>
                        <input asp-for="Profesional.NombreUsuario" class="form-control" />
                        <span asp-validation-for="Profesional.NombreUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password*</label>
                        <input type="password" asp-for="Profesional.Password" class="form-control" />
                        <span asp-validation-for="Profesional.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">D.N.I*</label>
                        <input asp-for="Profesional.DNI" class="form-control" />
                        <span asp-validation-for="Profesional.DNI" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre*</label>
                        <input asp-for="Profesional.Nombre" class="form-control" />
                        <span asp-validation-for="Profesional.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Apellido*</label>
                        <input asp-for="Profesional.Apellido" class="form-control" />
                        <span asp-validation-for="Profesional.Apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profesional.Direccion" class="control-label"></label>
                        <input asp-for="Profesional.Direccion" class="form-control" />
                        <span asp-validation-for="Profesional.Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Telefono*</label>
                        <input asp-for="Profesional.Telefono" class="form-control" />
                        <span asp-validation-for="Profesional.Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profesional.Matricula" class="control-label"></label>
                        <input asp-for="Profesional.Matricula" class="form-control" />
                        <span asp-validation-for="Profesional.Matricula" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                        <a class="btn btn-danger" asp-page="/Index">Cancelar</a>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Los campos marcados con * son obligatorios</label>
                    </div>
                </form>
            </div>
        </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
