@page
@model Medisysnae.Pages.Profesionales.EditModel

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .material-icons.green600 {
            color: lightgreen;
        }
    </style>
</head>
<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="form-group">
    <input type="submit" value="Guardar" class="btn btn-primary" />
    @if (Model.UsuarioActual.EsAdministrador)
    {

        <a class="btn btn-danger" asp-page="./Index">Cancelar</a>

    }
    else
    {

        <a class="btn btn-danger" asp-page="/Menu">Cancelar</a>

    }
</div>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Profesional.NombreUsuario" />
            <div class="form-group">
                <input type="hidden" asp-for="Profesional.MostrarPass" />
            </div>

            <div class="form-group form-check">
                <input type="hidden" class="form-check-input" asp-for="Profesional.EstaActivo" />
            </div>
            <div class="form-group form-check">
                <input type="hidden" class="form-check-input" asp-for="Profesional.EsAdministrador" />
            </div>
            <div class="form-group">
                <label asp-for="Profesional.DNI" class="control-label"></label>
                <input asp-for="Profesional.DNI" class="form-control" />
                <span asp-validation-for="Profesional.DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profesional.Nombre" class="control-label"></label>
                <input asp-for="Profesional.Nombre" class="form-control" />
                <span asp-validation-for="Profesional.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profesional.Apellido" class="control-label"></label>
                <input asp-for="Profesional.Apellido" class="form-control" />
                <span asp-validation-for="Profesional.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profesional.Direccion" class="control-label"></label>
                <input asp-for="Profesional.Direccion" class="form-control" />
                <span asp-validation-for="Profesional.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profesional.Telefono" class="control-label"></label>
                <input asp-for="Profesional.Telefono" class="form-control" />
                <span asp-validation-for="Profesional.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profesional.Matricula" class="control-label"></label>
                <input asp-for="Profesional.Matricula" class="form-control" />
                <span asp-validation-for="Profesional.Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Lugares de atención</label>
                <select asp-for="LugarAtencionID" class="form-control" asp-items="@Model.LugaresAtencionList">
                    <option value="0">Seleccionar</option>
                </select>
                <br />
                <input type="submit" asp-page-handler="BorrarLugarAtencion" value="Borrar" class="btn btn-danger" />
            </div>
            <div class="form-group">
                <label class="control-label">Agregar lugar atención</label>
                <input asp-for="AregarLugarAtencion" class="form-control" />
                <br />
                <input type="submit" asp-page-handler="AgregarLugarAtencion" value="Agregar" class="btn btn-success" />
            </div>
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
